# Compiler artifacts
*.pyc
*.pyo
*.tokens
*.class
*.orig
*.cfc
__pycache__

# Pydev
.project
.pydevproject
.settings

# Vim et al
*.swp
*~

# Vscode
.vscode

# Pycharm
.idea

# Profiler
run.profile

# Packaging
dist
build
*.egg-info
MANIFEST
.eggs/*
METADATA
top_level.txt

# Test runs
*.log
.coverage
.tox
junit*.xml
.pytest_cache
coverage.xml


# Venv
.env


# Mypy
.mypy
.mypy_cache
mypy
types
mypy.xml
coverage