bumpversion==0.6.0
inmanta-dev-dependencies==2.177.0
tornado==6.5.2

# allow dev versions for extensions
inmanta-support>=0.dev
inmanta-license>=0.dev
inmanta-lsm>=0.dev
inmanta-ui>=0.dev
inmanta-core>=0.dev
