bumpversion==0.6.0
inmanta-dev-dependencies==2.159.0
tornado==6.4.2

# allow dev versions for extensions not explicitly in dependencies
inmanta-support>=0.dev
inmanta-license>=0.dev
inmanta-lsm>=0.dev
inmanta-ui>=0.dev
